:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --footer-adress-color: #ffffff;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --filters-bg-color: #F5F4FA;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*----------------------HEADER-----------------------*/

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.header-logo-part {
    color: var(--header-logo-color);
}

.navigation-link  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}

.navigation-link:hover,
.navigation-link:focus {
color: var(--accent-text-color);
}

.current {
    color: var(--accent-text-color);
}


.contacts-mail,
.contacts-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contacts-mail:hover,
.contacts-tel:hover,
.contacts-mail:focus,
.contacts-tel:focus {
    color: var(--accent-text-color);
}

/*----------------------HERO-----------------------*/

.hero {
    background-color: var(--accent-bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: var(--accent-color);
}

/*----------------------FEATURES-----------------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*----------------------GALLERY-----------------------*/

.gallery-title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

/*----------------------TEAM-----------------------*/

.team-title {
    font-size: 36px;
    line-height: 1.17;
   letter-spacing: 0.03em;
    color: #212121;
}

.team-card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-card-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*----------------------FOOTER-----------------------*/

.footer {
    background-color: var(--accent-bg-color);
}

.address {
    font-style: normal;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
.footer-logo-part{
    color: var(--footer-logo-color);
}

.footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-adress-color);
}

.footer-mail,
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
    color: var(--accent-text-color);
}
